---
import Layout from '../layouts/Layout.astro'; // importar el html
import Protagonist from '../components/Protagonist.astro';
import Projects from '../components/Projects.astro';
import Specialized from '../components/Specialized.astro';
import Experiences from '../components/Experiences.astro';
import Copyright from '../components/Copyright.astro';
import Contact from '../components/Contact.astro';
---

<Layout 
title="nvrsportfolius - Developer",
description="Desarrollo de sitios web con componentes increibles, con habilidades en frontend y backend.">
<main class='dark:text-white dark:bg-[rgb(145,145,145)] text-white'>
<section class="h-[100%]">
<!-- Inicio -->
    
    <section class="pt-4 mb-10">
        <Protagonist/>
    </section>
    
    <div class="flex justify-center">
        <div class="scroll-container" id="scrollContainer">
            <div class="flex gap-3 items-center">
                <div class="card">
                    <Projects 
                    title='Kovaliov Rest' 
                    paragraph='View menus, schedules, events and make reservations to anybody.' 							
                    ground_img='assets/restaurant.webp'
                    icon_span_one='assets/javascript.png'
                    icon_span_two='assets/tailwind.png'
                    icon_span_three='assets/astro.png'
                link='https://apple.com'
                link_img='assets/arrow_link.svg'
                />
                </div>
                <div class="card">
                <Projects 
                title='Heavenly' 
                paragraph='Social network with encrypted conversations and publication sections' 
                ground_img='assets/socialmedia.webp'
                icon_span_one='assets/python.svg'
                icon_span_two='assets/mongodb.png'
                icon_span_three='assets/fastapi.svg'
                ground_height='h-[142px] '
                link='https://apple.com'
                link_img='assets/arrow_link.svg'
                height='h-[285px]'
                />	
                </div>
                <div class="card">
                <Projects 
                title='Modern Train' 
                paragraph='Get training guides from personal trainers and view progress' 								
                ground_img='assets/gym.webp'
                icon_span_one='assets/docker.png'
                icon_span_two='assets/mongodb.png'
                icon_span_three='assets/javascript.png'
                link='https://apple.com'
                link_img='assets/arrow_link.svg'
                />	
                </div>
            </div>
        </div>
    </div>

        <section class="h-64 relative md:hidden">
            <section class="card_degraded_one">
            </section>
        </section>

        <section class="flex justify-center">
            <Specialized/>
        </section>

        <section class="h-64 relative md:hidden">
            <section class="card_degraded_two">
            </section>
        </section>
        
        <section class="flex justify-center">
            <section class="">
            <Experiences/>
            </section>
        </section>
        
        <section class="h-64 relative md:hidden">
            <section class="card_degraded_three">
            </section>
        </section>

        <section class="flex flex-col justify-center gap-4 mb-3">
            <Contact/>
            <Copyright/>
        </section>
        

<!-- Final -->
</section>
</main>
</Layout>


