---
interface Props{
value?: string
}
const {value} = Astro.props
---

<span class="dark:text-black dark:border-black dark:bg-black/10 h-fit w-fit text-[10px] bg-[rgba(149,149,149,0.1)] p-[9px] text-white border border-white/30 rounded-xl ">
    <span class="">
        {value}
    </span>  
</span>
