---
import Icons_Comp from '../components/Icons_Comp.astro';
---


<section class="flex flex-col mx-10">
    <span class="flex gap-5 justify-center items-end">
        <Icons_Comp img='assets/email.svg' link='facebook.com'  value='Email' />
        <Icons_Comp img='assets/linkedin.svg'  link='facebook.com' value='LinkedIn' height='h-[26px] '/>
        <Icons_Comp img='assets/github.svg' link='apple.com'  value='Github'/>
    </span>
    <p class="pt-3 border-t border-gray-500 mt-3 text-[16px] flex items-center justify-center gap-2 text-gray-300"> 
        <span>I'm in Spain</span>
        <img src="assets/spain.svg" alt="" class="h-5">
        <span class="">Let's work</span>
    </p>
</section>