---
import Icons_Comp from '../components/Icons_Comp.astro';
---


<section class="flex flex-col mx-10 ">
    <span class="flex gap-5 justify-center items-end border-b pb-3 border-gray-500">
        <Icons_Comp img='assets/email.svg' link='facebook.com'  value='Email' />
        <Icons_Comp img='assets/linkedin.svg'  link='facebook.com' value='LinkedIn' height='h-[26px] '/>
        <Icons_Comp img='assets/github.svg' link='apple.com'  value='Github'/>
    </span>
    <p class="pt-3 text-[12px] flex items-center justify-center gap-3 text-gray-200"> 
        <span>I Live in Spain</span>
        <img src="assets/spain.svg" alt="" class="h-6">
        <span class="">Let's work</span>
    </p>
</section>