<section class="text-center flex flex-col gap-6 m-2 text-[14px]">
    <p class="text-gray-300">a simple but modern way to create applications and <br> websites using components that on their own highlight <br>
        an air of modernity and when combined with others <br> can achieve something unparalleled.</p>
    <p class="text-gray-200">© Copyright 2025 Portfolius - All rights reserved</p>
</section>