<section class="text-center flex flex-col gap-4 mx-6 text-[14px]">
    <p class="text-gray-400 text-[12px]">Just another way to create shiny web sites with components of their own. Just another way to create shiny web sites with components of their own. Just another way to create shiny web sites with components of their own.</p>
    <p class="text-gray-400 text-[10px] ">© Copyright 2025 Portfolius.</p>
</section>