<section class="text-center flex flex-col gap-4 mx-10 text-[14px]">
    <p class="dark:text-black text-gray-400 text-[9px]">Just another way to create shiny web sites with components of their own. Just another way to create shiny web sites with components of their own. Just another way to create shiny web sites with components of their own.</p>
    <p class="dark:text-black text-gray-400 text-[8px] ">© Copyright 2025 Portfolius.</p>
</section>