<section class="text-center flex flex-col gap-4 mx-8 text-[14px]">
    <p class="dark:text-black text-gray-400 text-[9px]">This is just another way to create web pages with modern components and styles without losing its easy accessibility, if you want to collaborate write me right away and let's develop this idea.</p>
    <p class="dark:text-black text-gray-400 text-[8px] ">© Copyright 2025 Portfolius.</p>
</section>