---
import Exp_Comp from "../components/Exp_Comp.astro"
---

<section class="flex flex-col border border-white/20 rounded-xl w-80  ">
    <span class="p-3 text-center text-[30px] tracking-[-1px]
    font-[Manrope] border-b-[1px] border-white/30 drop-shadow-[0_0_5px_rgba(244,244,244,0.4)]">Experiences</span>
        <section class="scrolls_bar p-1 flex flex-col gap-2 ">

            <Exp_Comp 
            company='Apple Inc',
            dates='2020 • 2022',
            workstation='iOS Developer',
            paragraph=`Working and collaborating in the development of a multiplatform application for the management of the company's internal products`,
            paragraph_two="This development also achieved considerable progress in terms of design and ease of use.",
            
            country='assets/uk.png',
            img_link='assets/arrow_link.svg'
            website_link="https://apple.com"
            /> 
            <Exp_Comp 
            company='Microsoft Corp',
            dates='2013 • 2017',
            workstation='Frontend Developer',
            paragraph=`Part of a module of renovation of the Microsoft website and modern integrations to its services.`,
            paragraph_two="This development also achieved considerable progress in terms of design and ease of use.",
            
            country='assets/usa.png',
            img_link='assets/arrow_link.svg'
            website_link="https://apple.com"

            /> 
            <Exp_Comp 
            company='Microsoft Corp',
            dates='2013 • 2017',
            workstation='Frontend Manager',
            paragraph=`Part of a module of renovation of the Microsoft website and modern integrations to its services.`,
            paragraph_two="This development also achieved considerable progress in terms of design and ease of use.",
            
            country='assets/spain.svg',
            img_link='assets/arrow_link.svg'
            website_link="https://apple.com"
            /> 
        </section>
    <section class="p-2 flex items-center gap-2 justify-end border-t-[1px] border-white/30">
        <span>Another Contributions</span>
        <span><img src="src/assets/" alt="" class="h-4"></span>
    </section>
</section>