---
interface Props{
link?: string
img?: string
value?: string
height?: string
shadow?: string
}
const {link,img,value,height='h-[18px]',shadow='drop-shadow-[0_0_8px_rgba(255,255,255,0.8)]'} = Astro.props
---

    <span class="flex text-[16px] gap-5 items-center">
        <a href={link} class="flex flex-col dropdown_social_hover items-center ">
            <span class="dropdown_social border border-[rgba(85,85,85,0.5)] rounded-xl w-fit p-[7px] bg-[rgba(149,149,149,0.1)] ">{value}</span>
            <img src={img} alt="" class=`${height} hover:drop-shadow-[0_0_8px_rgba(255,255,255,0.8)] dark:invert`>
        </a>
    </span>