<section class="text-[#bebebe] text-center">
    <p class="text-[14px]">a simple but modern way to create applications and web sites using components that on their own highlight
        <br> an air of modernity and when combined with others can achieve something unparalleled.
</section>