---
import Buttons from '../components/Buttons.astro';
---
    <section class="text-center">
        <section class="flex flex-col items-center">
            <section class="mb-7 flex justify-around gap-9 border-b border-gray-500 w-[100%] pb-3">
                <img src="assets/translate.svg" alt="" class="h-6">
                <img src="assets/arrow_link.svg" alt="" class="h-6">
                <img src="assets/moon.svg" alt="" class="h-6" id="darkmode">
            </section>
           
            <section class="flex flex-col mt-1 mb-5 text-[55px] leading-[55px] items-center tracking-[-3px] font-[Manrope] font-bold text-[#c7c7c7]">
                The way to <br>
                create <br>
                modern <br>
                and simple <br>
                <span class="timezone text_colors">websites</span>
            </section>
            <section class="grid grid-cols-2 gap-x-2 gap-y-4 ">
                <Buttons value='Frontend Development'/>
                <Buttons value='Backend Development'/>
                <span class="col-span-2">
                    <Buttons value='UX / UI Design'/>
                </span>
            </section>
        </section>
    </section>

