---
import Buttons from '../components/Buttons.astro';
---
    <section class="text-center">
        <section class="flex flex-col items-center">
            <section class="flex justify-center gap-8 border-b border-gray-400 w-[100%] pb-4 mb-4 ">
                <img src="assets/translate.svg" alt="" class="cursor-pointer h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)] dark:invert">
                <img src="assets/arrow_link.svg" alt="" class="cursor-pointer h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                <img src="assets/arrow_link.svg" alt="" class="cursor-pointer h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
                <img src="assets/arrow_link.svg" alt="" class="cursor-pointer h-[18px] hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.9)]">
            </section>      
            <section class="dark:text-black first-line:mt-5 flex flex-col mb-5 leading-[45px] text-[45px] tracking-[-3px] items-center font-[Manrope] font-bold text-[#dadada]">
                    <span class="timezone text_colors">The way to</span>
                    <span>create</span>
                    <span class="timezone text_colors">modern</span>
                    <span class="">and simple</span>
                    <span class="timezone text_colors">websites</span>
            </section>
            <section class="grid grid-cols-2 gap-x-2 gap-y-4 ">
                <Buttons value='Frontend Development'/>
                <Buttons value='Backend Development'/>
                <span class="col-span-2">
                    <Buttons value='UX / UI Design'/>
                </span>
            </section>
        </section>
    </section>

