---
import Buttons from '../components/Buttons.astro';
---
    <section class="text-center">
        <section class="flex flex-col items-center">
            <section class="flex justify-around gap-9 border-b border-gray-500 w-[100%] pb-3 resplandor ">
                <img src="assets/translate.svg" alt="" class="h-5">
                <img src="assets/arrow_link.svg" alt="" class="h-5">
                <img src="assets/moon.svg" alt="" class="h-5" id="darkmode">
            </section>      
            <section class="mt-8 flex flex-col mb-5 text-[50px] leading-[50px] tracking-[-3px] items-center font-[Manrope] font-bold text-[#8d8d8d]">
                <section class="relative text-white/80">
                    <span>The way to</span> <br>
                    <span>create</span> <br>
                    <span class="timezone text_colors">modern</span> <br>
                    <span class="">and simple</span> <br>
                    <span class="timezone text_colors">websites</span>
                </section>
            </section>
            <section class="grid grid-cols-2 gap-x-2 gap-y-4 ">
                <Buttons value='Frontend Development'/>
                <Buttons value='Backend Development'/>
                <span class="col-span-2">
                    <Buttons value='UX / UI Design'/>
                </span>
            </section>
        </section>
    </section>

