<div class="text-center border border-white/20 rounded-xl w-[280px]">
    <h1 class="p-3 text-[24px] tracking-[-1px] font-[Manrope] border-b-[1px] border-white/20 drop-shadow-[0_0_5px_rgba(244,244,244,0.4)] ">Specialized</h1>
    <section class="border-b-[1px] border-white/20 text-[14px] ">
        <section class="flex flex-col gap-5 text-start p-3 bg-[rgba(114,114,114,0.2)] m-1">
            <section class="flex flex-col gap-2">
                <span class="w-fit border p-[6px] border-white/40 rounded-xl text-[12px] ">Tech Skills</span>
                <span class="">Frontend Development</span>
                <span class="">Backend Development</span>
                <span class="">UX / UI Design</span>
                <span class="">Website maintenance</span>
            </section>
            
            <section class="flex flex-col gap-2">
                <span class="w-fit border p-[6px] border-white/40 rounded-xl text-[12px]">Soft Skills</span>
                <span>English, Spanish, French</span>
                <span>English, Spanish, French</span>
            </section>
        </section>
    </section> 
    <section class="p-2 flex justify-end">
        <a href="" class="flex items-center gap-2">
            <span>Another Contributions</span>
            <span><img src="assets/arrow_link.svg" alt="" class="h-6"></span>
        </a>
    </section>
</div>