<div class="dark:border-black dark:text-black text-center border border-white/20 rounded-xl w-[250px]">
    <section class="flex flex-col justify-center items-center p-3">
        <h1 class="text-[24px] tracking-[-1px] font-[Manrope] drop-shadow-[0_0_5px_rgba(244,244,244,0.4)] ">Specialized</h1>
        <h3 class="text-[#4884f3] mt-[-3px] text-[12px] ">technical and soft skills</h3>
    </section>
    <section class="dark:border-black border-y-[1px] border-white/20 text-[12px]">
        <section class="flex flex-col gap-5 text-start p-3 bg-[rgba(114,114,114,0.2)] m-1">
            <section class="flex flex-col gap-2">
                <span class="">Frontend Development.</span>
                <span class="">Backend Development.</span>
                <span class="">UX / UI Design.</span>
                <span class="">Website maintenance.</span>
            </section>
            
            <section class="flex flex-col gap-2">
                <span>English, Spanish, French.</span>
                <span>Jira, Scrum, GitLab.</span>
            </section>
        </section>
    </section> 
    <section class="p-2 flex justify-center">
        <a href="" class="flex items-center gap-2">
            <span class="text-[12px] ">Contributions</span>
            <span><img src="assets/arrow_link.svg" alt="" class="h-4 dark:invert"></span>
        </a>
    </section>
</div>